
body{
	margin: 0;
}

.header-master{
	height: 70px;
	padding: 0;  
	background: -webkit-linear-gradient(-135deg, #066355,#03A865);
	background: -o-linear-gradient(-135deg, #066355, #03A865);
	background: -moz-linear-gradient(-135deg, #066355, #03A865);
	background: linear-gradient(-135deg, #066355, #03A865);
}

.nav-master{
	padding-top: 5px;	
}
.div-1-master{
	padding-left: 10px;
}

.img-header-logo{
	height: 60px;
	width: 60px;
	border-radius: 50%;
	object-fit: cover;
    object-position: center;
}

ul {
    list-style-type: none;
    float: right;
    padding: 5px;
    overflow: hidden;
}

li {
    display: inline;
    border-right: 1px solid #bbb;
}
li:last-child {
    border-right: none;
}

li a {
    display: inline;
    color: white;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
}
div-1-master a {
	padding: 0;
}
li a:hover {
    color: #111;
}

.footer-master{
	background: -webkit-linear-gradient(-135deg, #03A865,#066355);
	background: -o-linear-gradient(-135deg, #03A865, #066355);
	background: -moz-linear-gradient(-135deg, #03A865, #066355);
	background: linear-gradient(-135deg, #03A865, #066355);
	position: sticky;
	bottom: 0;
	
	text-align: center;
	min-height: 40px;
	height: auto;
	padding: 0;
	width: 100%;
}

.cp-text{ 
	color: #FFF; 
	text-shadow: 0 1px rgba(255, 255, 255, 0.1);
}